// MIXINS

@mixin flex($direction: row, $justify: center, $align: center, $gap: 1rem) {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}