@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    height: 100vh;
}

/* SCROLLBARS */

/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #181818;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}