@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    height: 100vh;
}

// APPMOVIES & APPSERIES

.card:hover {
    border: 1px solid white;

    .card-info {
        display: flex;
        background-color: black;

        span,
        p {
            font-size: .75rem;
        }
    }
}

/* SCROLLBARS */

/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
    margin: .5rem 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}